In [1]:
import pandas as pd; import numpy as np;

In [2]:
# Alt gruplara ayırma

vs = pd.DataFrame(np.random.randn(4,4),
                 columns=list("abcd"),
                 index=["elma","kiraz","muz","kivi"])
vs

              a         b         c         d
elma  -0.106284 -2.365053 -0.302005 -1.197861
kiraz  0.078848 -0.456221 -2.138747  0.696887
muz   -2.561030 -0.737487  1.519282 -0.214895
kivi  -1.572726 -1.424131  0.736341 -0.429108

In [3]:
etiket = {"a":"yesil", "b":"sari", "c":"yesil", "d":"sari", "e":"mor"}

In [4]:
# axis=1 yazmamızın sebebi python'da gruplandırma işlemi satırlara göre tanımlanmıştır. Biz sütunlara göre gruplandırma yapacağımız için axis=1 yazdık.

grup = vs.groupby(etiket, axis=1)

In [5]:
grup.sum()

           sari     yesil
elma  -3.562914 -0.408288
kiraz  0.240667 -2.059900
muz   -0.952382 -1.041748
kivi  -1.853239 -0.836385

In [6]:
s = pd.Series(etiket)
s

a    yesil
b     sari
c    yesil
d     sari
e      mor
dtype: object

In [7]:
vs.groupby(s, axis=1).count()

       sari  yesil
elma      2      2
kiraz     2      2
muz       2      2
kivi      2      2

In [8]:
# Gruplara Fonksiyon Uygulama
# len(uzunluk) ile elma kiraz muz ve kivi'nin uzunluğuna göre tablo oluşturup toplamlarını yazdırdı.

vs.groupby(len).sum()

          a         b         c         d
3 -2.561030 -0.737487  1.519282 -0.214895
4 -1.679010 -3.789184  0.434336 -1.626969
5  0.078848 -0.456221 -2.138747  0.696887

In [9]:
# Hiyerarşik Gruplandırma

veri = pd.DataFrame(np.random.randn(4,5),
                   columns=[list("AAABB"),[1,2,3,1,2]])
veri.columns.names=["harf", "sayi"]
veri

harf         A                             B
sayi         1         2         3         1         2
0    -0.434196  0.926250 -0.463157 -0.274308  0.158313
1    -1.014447 -0.654669  0.302638 -0.544452  0.321927
2     1.817896  1.167740  0.419394  0.274298 -0.073790
3    -0.846775  0.153063 -0.215459  1.111130 -0.988626

In [10]:
veri.groupby(level="harf", axis=1).sum()

harf         A         B
0     0.028897 -0.115995
1    -1.366479 -0.222525
2     3.405030  0.200508
3    -0.909170  0.122503

In [11]:
oyun=pd.read_csv("vgsalesGlobale.csv")

In [12]:
oyun.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [13]:
oyun.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [14]:
# özet istatistikleri görüntülemek
# eksik verileri kaldırarak görüntüleme için dropna() metdou kullandık

oyun.dropna().describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000
mean,8290.190228,2006.405561,0.265647,0.147731,0.078833,0.048426,0.540910
std,4792.654450,5.832412,0.822432,0.509303,0.311879,0.190083,1.567345
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4132.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8292.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12439.500000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [15]:
oyun.Global_Sales.mean()

0.5374406555006628

In [16]:
grup = oyun.groupby("Genre")

In [17]:
grup["Global_Sales"].count()

Genre
Action          3316
Adventure       1286
Fighting         848
Misc            1739
Platform         886
Puzzle           582
Racing          1249
Role-Playing    1488
Shooter         1310
Simulation       867
Sports          2346
Strategy         681
Name: Global_Sales, dtype: int64

In [18]:
grup["Global_Sales"].describe()

               count      mean       std   min   25%    50%     75%    max
Genre
Action        3316.0  0.528100  1.156427  0.01  0.07  0.190  0.5000  21.40
Adventure     1286.0  0.185879  0.513280  0.01  0.02  0.060  0.1600  11.18
Fighting       848.0  0.529375  0.955965  0.01  0.08  0.210  0.5500  13.04
Misc          1739.0  0.465762  1.314886  0.01  0.06  0.160  0.4100  29.02
Platform       886.0  0.938341  2.585254  0.01  0.09  0.280  0.7900  40.24
Puzzle         582.0  0.420876  1.561716  0.01  0.04  0.110  0.3075  30.26
Racing        1249.0  0.586101  1.662437  0.01  0.07  0.190  0.5300  35.82
Role-Playing  1488.0  0.623233  1.707909  0.01  0.07  0.185  0.5225  31.37
Shooter       1310.0  0.791885  1.817263  0.01  0.08  0.230  0.7275  28.31
Simulation     867.0  0.452364  1.195255  0.01  0.05  0.160  0.4200  24.76
Sports        2346.0  0.567319  2.089716  0.01  0.09  0.220  0.5600  82.74
Strategy       681.0  0.257151  0.520908  0.01  0.04  0.090  0.2700   5.45